.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.256);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.popupContent {
    padding: 60px;
    background-color: var(--light);
    border-radius: .6rem;
    width: 50%;
    position: relative;
    box-shadow: 6px 6px 20px 0px #4242424d;
}

.exitBtn {
    position: absolute;
    padding: 0;
    top: 30px;
    left: 40px;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    background: 0;
}

.exitBtn:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {

    .popupContainer {
        padding: 1.2rem;
    }

    .popupContent {
        width: 90%;
        padding: 30px;
        padding-top: 70px;
    }
}
