/* Modal and Swiper */

/* html[data-direction="down"] #navbar {
    transform: translate3d(0,-100%,0);
} */

#scroll-container {
    padding-top: 60px;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    background-color: var(--cream);
}

.static h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.static p {
    color: var(--grey4);
    margin-bottom: 2rem;
}

.static ul {
    padding-inline-start: 20px;
}

.back-button {
    background-color: var(--primary600);
    color: var(--white);
}

@media (max-width: 767px) {
    .burger {
        font-size: 9px;
        padding: 0;
    }

    .pp-cont {
        padding: 80px 20px;
    }

    .pp-cont p {
        text-align: center;
    }
}